{% extends "base.html" %}

{% block content %}
<header class="masthead text-center text-white d-flex mw-100 mh-100 fixed">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Looking for a Concert, You're in the right place...</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-light mb-5">Concerts' Organizers and Concerts at you finger tips all you have to do is</p>
        {% if request.user.is_anonymous %}
          <a class="btn btn-primary btn-xl js-scroll-trigger"  href="{% url 'signup' %}">Sign up to find Concerts!</a>
        {% else %}
          <a class="btn btn-primary btn-xl js-scroll-trigger"  href="{% url 'concert-list' %}">Find Concerts!</a>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</header>
{% endblock %}