{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead">
  <div class="text-center text-white d-flex">
  <div class="container">
    <div class="row"  >
      <div class="col-lg-6 mx-auto" >
          <h1 class="masthead-subheading mb-0">
            <strong>Profile Update</strong>
          </h1>   
          <form action="{% url 'profile-update' profile.id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form|crispy}}
              <input type="submit" value="Update" class="btn btn-outline-primary">
              <a href="{% url 'concert-list' %}"  class="btn btn-outline-primary">Cancel</a>
          </form>
      </div>
    </div>
  </div>
</header>
{% endblock content %}